# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env*
.evn.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# node_modules
/node_modules

# Firebase functions node_modules
/.firebase/rmcontents1/functions/node_modules

# Firebase
.firebase/

# --- [RM Contents] 데이터 관리 ---
# 1. 대용량 데이터 제외 (저장소 용량 보호)
data/
data/*

# 2. 보안 파일 제외 (해킹 방지)
scripts/serviceAccountKey.json

# 3. (혹시 모를) 임시 파일들
*.log
.DS_Store

#잡동사니
.VSCodeCounter/